<div class="h-100 w-100">
  <app-photo-memory
    photo="/assets/images/IMG-20200226-WA0009.jpg"
    data-aos="fade-left"
    class="w-100"
  >
    <app-msg-1></app-msg-1>
  </app-photo-memory>
  <app-photo-memory
    photo="/assets/images/IMG-20200226-WA0009.jpg"
    text="Testing 1"
    data-aos-offset="200"
    data-aos="fade-right"
    class="w-100"
  ></app-photo-memory>
  <app-photo-memory
    photo="/assets/images/IMG-20200226-WA0009.jpg"
    text="Testing 4"
    data-aos-offset="200"
    data-aos="fade-left"
    class="w-100"
  ></app-photo-memory>
  <app-photo-memory
    photo="/assets/images/IMG-20200226-WA0009.jpg"
    text="Testing 3"
    data-aos-offset="200"
    data-aos="fade-right"
    class="w-100"
  ></app-photo-memory>
</div>
